
.hoverSwitch>div {
    position: absolute;
    /* top: calc(50% - 100px);
    left: calc(50% - 100px); */
}

.hoverSwitch>div:first-of-type {
    scale: 1;
    transition: scale 0.3s ease-in-out;
    -moz-transition: scale 0.3s ease-in-out;
    -webkit-transition: scale 0.3s ease-in-out;
}

.hoverSwitch>div:last-of-type {
    scale: 0;
    transition: scale 0.3s ease-in-out;
    -moz-transition: scale 0.3s ease-in-out;
    -webkit-transition: scale 0.3s ease-in-out;
}

.hoverSwitch:hover>div:last-of-type {
    scale: 1;
}

.hoverSwitch:hover>div:first-of-type {
    scale: 0;
}